h1 {
  font-size: 34px;
  font-family: "Font";
}

.bigstuff {
  width: 100%;
  height: 100vh;
  background-color: #ebedee;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.picture {
  height: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-image: url("../assets/images/image_fond_vinted.jpg");
  background-position: 70% 15%;
  background-repeat: no-repeat;
}

.offerbox {
  width: 400px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  border: 1px rgb(182, 181, 181) solid;
  border-radius: 5px;
  justify-content: center;
  box-sizing: border-box;
}
.offerbox button {
  background-color: #15b3bb;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 15px;
  font-family: "Font";
  box-sizing: border-box;
  font-size: 16px;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.offer {
  width: 18%;
  height: fit-content;
  box-sizing: border-box;
  margin: 0 5px;
  text-decoration: none;
}
.profile {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
}

.profile img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.profile > span {
  color: #c1c1c1;
  font-size: 12px;
  font-family: "Font";
}

.article {
  margin-bottom: 30px;
  color: black;
  font-family: "Font";
  font-size: 14px;
}

.black {
  margin-top: 10px;
}
.black,
.grey {
  padding-left: 10px;
  line-height: 18px;
}
.grey {
  color: #cccccc;
  font-size: 12px;
}

.article img {
  width: 100%;
}
