.bigbox {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.bigbox img {
  object-fit: cover;
  width: 400px;
}

.smallbox {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
}
.smallbox > p {
  font-family: "Font";
  font-size: 24px;
}

.grey2,
.black2 {
  font-family: "Font Bold";
  font-size: 14px;
  color: #c1c1c1;
}
.black2 {
  color: #111111;
}
.detail {
  border-bottom: 1px grey solid;
  padding-bottom: 30px;
}
.detail p {
  display: flex;
  justify-content: space-between;
}
.product {
  margin-bottom: 60px;
  margin-top: 30px;

  font-family: "Font";
  overflow-x: scroll;
  overflow: auto;
}
.avatar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.avatar img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.achete {
  color: white;
  background-color: #15b3bb;
  outline: none;
  border: none;
  padding: 10px 0px;
  border-radius: 5px;
}
