.header {
  height: 50px;
  margin: 10px 0px;
  background-color: white;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bar {
  display: flex;
  align-items: center;
  background-color: #f5f6f7;
  width: 40%;
}
.bar input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #f5f6f7;
}

.icon {
  color: #bbbbbb;
}

::placeholder {
  color: #bbbbbb;
}

.header img {
  width: 85px;
  height: 40px;
  cursor: pointer;
}

.deco {
  background-color: #c2225b;
  padding: 10px 20px;
  font-family: "Font";
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  color: white;
  border: none;
}

.boutonco {
  border: #15b3bb solid 1px;
  margin-right: 10px;
  padding: 10px 20px;
  font-family: "Font";
  background-color: white;
  color: #15b3bb;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
}

.bouton {
  font-family: "Font";
  background-color: #15b3bb;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}
