/* Other rules */

@import "./components/Header/header.css";

@import "./containers/home.css";

@import "./containers/offer.css";

@import "./font.css";

@import "./containers/signUp.css";

@import "./containers/login.css";

@import "./containers/publish.css";

@import "./containers/payment.css";

@import "./components/CheckoutForm/checkoutForm.css";

@media (max-width: 1200px) {
  .container {
    width: 768px;
  }
  .offer {
    width: 23%;
  }
  .bar {
    width: 30%;
  }
  .bigbox > img {
    width: 300px;
  }

  .smallbox {
    width: 300px;
  }
  .article img {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .bouton {
    display: none;
  }

  .container {
    width: 600px;
  }
  .offer {
    width: 35%;
  }
  .offerbox {
    width: 300px;
    height: 200px;
  }
  .article img {
    height: 300px;
  }
  h1 {
    font-size: 25px;
  }
  .bigbox > img {
    width: 260px;
  }

  .smallbox {
    width: 260px;
  }
  .grey2,
  .black2 {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .deco {
    padding: 10px 10px;
  }

  .boutonco {
    padding: 10px 10px;
  }
  .bar {
    display: none;
  }
  .profile > span {
    font-size: 9px;
    overflow: hidden;
  }
  .bigbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .detail {
    padding-bottom: 0px;
  }
  .product {
    margin: 0px;
    font-family: "Font";
  }
  .smallbox {
    padding: 5px 10px;
  }
  .smallbox > p {
    font-size: 15px;
  }
  .offer {
    width: 35%;
  }
  .offerbox {
    width: 300px;
    height: 200px;
  }
  .article img {
    height: 200px;
  }
  .box_payment {
    width: 90%;
  }
  .payment_line {
    font-size: 13px;
  }
}
